 <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="de.fb08.hsnr.imageGrabber" version="1.0.0">
        <name>ImageGrabber</name>
        <description>Image Grabber</description>
        <license>Apache 2.0</license>
        <keywords>cordova,images</keywords>
        
        <js-module src="www/image-grabber.js" name="imageGrabber">
            <clobbers target="navigator.imageGrabber" />
        </js-module>
        
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="Path">
                    <param name="android-package" value="de.fb08.hsnr.path.ImageGrabber"/>
                </feature>
            </config-file>
        </platform>
        
        <source-file src="src/android/ImageGrabber.java" target-dir="src/de/fb08/hsnr/imageGrabber" />
    </plugin>
